@import "bootstrap/scss/bootstrap";
@import "./fonts.scss";


body {
    margin: 0;
    // background-color: #efb54a;
    font-family: 'Roboto', 'Exo', sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-link {
    color: white;
}

.nav-link.active {
    background-color: orange !important;
}